
@{
    Layout = null;
    ViewBag.Title = "LoginForm";
}

<!DOCTYPE html>

<html>
<head>
    <title>Đăng nhập</title>
    <!--required name="username"-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/loginFormStyle.css">
</head>
<body>
    <style type="text/css">
        /* Snowflake effect */
        .snowflakes {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            overflow: hidden;
            z-index: 9999;
        }

        .snowflake {
            position: absolute;
            top: -50px;
            font-size: 2em;
            color: white;
            animation: fall linear infinite;
        }

        /* Random positions and speeds */
        @@keyframes fall {
            0% {
                transform: translateY(0);
                opacity: 1;
            }

            100% {
                transform: translateY(100vh);
                opacity: 0.5;
            }
        }

        .snowflake:nth-child(1) {
            left: 10%;
            animation-duration: 5s;
        }

        .snowflake:nth-child(2) {
            left: 20%;
            animation-duration: 7s;
        }

        .snowflake:nth-child(3) {
            left: 30%;
            animation-duration: 4s;
        }

        .snowflake:nth-child(4) {
            left: 40%;
            animation-duration: 6s;
        }

        .snowflake:nth-child(5) {
            left: 50%;
            animation-duration: 8s;
        }

        .snowflake:nth-child(6) {
            left: 60%;
            animation-duration: 5s;
        }

        .snowflake:nth-child(7) {
            left: 70%;
            animation-duration: 7s;
        }

        .snowflake:nth-child(8) {
            left: 80%;
            animation-duration: 4s;
        }

        .snowflake:nth-child(9) {
            left: 90%;
            animation-duration: 6s;
        }

        .snowflake:nth-child(10) {
            left: 100%;
            animation-duration: 8s;
        }
    </style>
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">❅</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
    </div>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section" style="font-size:40px; cursor: pointer;"><a href="@Url.Action("Index", "Home")" style="color:white">IT Xperience</a></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">LOGIN</h3>
                        <form action="#" class="signin-form" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" required name="username" value="@User.Identity.Name">
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" placeholder="Password" required name="password">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            @Html.Partial("_PartialCaptcha")
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
                            <p style="color: yellow; font-size:18px">@ViewBag.error</p>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="@Url.Action("ForgotPassword","Account")" style="color: #fff">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0" style="font-style: italic;">&mdash; Don't have an account? &mdash;</p>
                        <a href="@Url.Action("Register","Account")" class="px-1 py-1 mr-md-1 rounded" style="color: #fbceb5; text-decoration: none; font-weight: bold; ">Sign Up →</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Khi nhấp vào icon span
            $(".toggle-password").click(function () {
                // Lấy input field liên kết với biểu tượng
                var input = $($(this).attr("toggle"));
                // Thay đổi thuộc tính type giữa 'password' và 'text'
                if (input.attr("type") === "password") {
                    input.attr("type", "text");
                    $(this).removeClass("fa-eye").addClass("fa-eye-slash"); // Đổi icon thành icon ẩn mật khẩu
                } else {
                    input.attr("type", "password");
                    $(this).removeClass("fa-eye-slash").addClass("fa-eye"); // Đổi icon thành icon hiển thị mật khẩu
                }
            });
        });
    </script>
</body>
</html>